**Here is a simple line of code that can be executed in Python**

In [1]:
print("Hello, World!")

Hello, World!

**Python If-Else**

In [3]:
n = int(input().strip())
if n % 2 == 1:
  print("Weird")
elif 2 <= n <=5:
  print("Not Weird")
elif 6 <= n <=20:
  print("Weird")
else:
  print("Not Weird")

24
Not Weird

**Arithmetic Operators**

In [4]:
a = int(input())
b = int(input())

print(a + b)
print(a - b)
print(a * b)

3
5
8
-2
15

**Python Division**

In [5]:
a = int(input())
b = int(input())

print(a // b)
print(a / b)

3
5
0
0.6

**Python Loops**

In [7]:
n = int(input())

for i in range(n):
  print(i * i)

5
0
1
4
9
16

**Python Function**

In [13]:
def is_leap(year):
    leap = False

    if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
        leap = True

    return leap

year = int(input())
print(is_leap(year))

1990
False

**Print Function**

In [14]:
n = int(input())

for i in range(1, n + 1):
  print(i, end="")

3
123